<h1> Open Group </h1>

<h2> Welcome to <%= @open_group.name %> group </h2>

<p> Open Group Name: <%= @open_group.name %> </p>
<p> Open Group Description: <%= @open_group.description %> </p>


<p> Open Group Admin's Username: <%= @group_admin %> </p>

<p> -------------------------------- </p>

<% if not @has_joined %>

  <form method="POST" action="/join_open_group/<%= @open_group.name %>">

    <button type="submit">Join <%= @open_group.name %> group</button>

  </form>

<% elsif @has_joined and @admin_id != session[:user_id] %>

  <form method="POST" action="/leave_open_group/<%= @open_group.name %>">

    <button type="submit">Leave <%= @open_group.name %> group</button>

  </form>

<% else %>

  <form method="POST" action="/delete_open_group/<%= @open_group.name %>">

    <button type="submit">Delete <%= @open_group.name %> group</button>

  </form>

<% end %>

<p> -------------------------------- </p>

<h3> Posts </h3>

<% if @has_joined %>
  <div>
    <form  method="POST" action="/open_group/<%= @open_group.name %>/post">
      <textarea name="open_group_post_content" placeholder="New Post"></textarea>
      <button type="submit">Create Post</button>
    </form>
  </div>
<% end %>

<br />

<% @posts.reverse.each do |post| %>
  <div style="width:800px;border-radius:25px;border-style:groove; text-align:center">
    <p> Posted by <%= User.find(post.user_id).username %>
    <br />
    <%= post.content %> </p>
  </div>
<% end %>
